#exclude all binaries or .log
#-----------------------------
*.dmp
*.o
*.so
*.bin
*.pyo
*.pyc
.svn*
.svn
*.log
*.out
# editor temporary files
*.swp
*.swo
*~
# intermediate files
*.Plo
*.la
*.lo
*.Po
*.d
rfid/lib/.libs/
rfid/swig/.deps/
rfid/swig/.libs/
# temorary files
rfid/autom4te.cache
